# Jupyter Notbook til Supervised delen

## Del 1 - hent data og analyser den

Første step, er at importerer de librayries der skal bruges i opgaven,
i dette tilfælde er det *sklearn* og *pandas*

In [2]:
import sklearn
import pandas as pd

Nu henter vi vores csv fil ind i en dataFrame

In [11]:
dataFrame = pd.read_csv("winequality-red.csv")

Lad os nu se på dataFramen... vi nøjes med de første 5 rækker i starten.  
Grunden til at vi visualiserer data, er for at få overblik over *struktur*, *features* og *target*

In [14]:
dataFrame.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

En anden måde at få overblik på er ved at vise data.

In [15]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

Vi kan se at vi har 11 kolonner med *features* og *target* i kolonne 12

Og så lige en tredie måde, hvor vi ser de første 5 rækker og de sidste 5 rækker.

In [12]:
print("data i winequality-red....\n\n",dataFrame)

data i winequality-red....

       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]

Vi kan også lave en statistisk beskrivelse af datasettet ved at bruge describe metoden

In [17]:
dataFrame.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Del 2 - opdel data i feature og target data

Så skal vi til at definerer features(x) og target(y)  
y = w1x1 + w2x2 + ........ +wnxn

Lad os nu få se på kolonnerne alene, ved at bruge variabelkaldet columns, får vi en liste over kolonne navnene.

In [19]:
dataFrame.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

Nu definerer vi y, som tages ud fra listen over kolonner, og da y kun har en target, skal vi blot bruge quality.  
PS. det er altid en god ide at copy paste fra kolonne oversigten, så vi undgår slå fejl.  
PPS. og vi bruger notationerne y_target og x_feature i stedet for y og x

In [29]:
y_target = dataFrame['quality']

og det samme med x, med den forskel at her har vi en hel liste af kolonne navne, så husk dobbelt square bracket (en til pointer og en til liste.

In [30]:
x_feature = dataFrame[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol']]

Lad os nu se på lidt shape

In [31]:
y_target.shape

(1599,)

In [32]:
x_feature.shape

(1599, 11)

Vi kan ud fra tallene se, at target indeholder 1 kolonne (intet nummer efter række tælleren betyder en kolonne) og feature har 11 kolonner.

## Del 3 - spliting data

Og nu bliver det spændende. Vi skal have splittet vores data i trainings data og test data.  
Det gør vi ved at hente train test split metoden fra model selection, under sklearn

In [33]:
from sklearn.model_selection import train_test_split

Nu splitter vi vores features og target i train set og test set (by default 75% / 25%)

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x_feature, y_target)

In [38]:
x_train.shape

(1199, 11)

75% af 1600 rækker er 1200 rækker, OK

Kig på train_test_split metoden og undersøg alle de **parameter** I kan anvende. Især test og training size samt random state

For at vær sikre på altid at få det samme dataset i  både train og test, anvender vi random state 9598 (og 75% / 25%)

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x_feature, y_target, train_size = 0.75, random_state = 9598)

## Del 4 - valg af model